<div class="container p-2 m-2">
    <ul class="text-start">
        <li>Name : {{devService.userInputData[0]}}</li> <!--use service array-->
        <li>Email : {{devService.userInputData[1]}}</li> <!--use service array-->
        <li>Subject : {{devService.userInputData[2]}}</li> <!--use service array-->
        <li>Message : {{devService.userInputData[3]}}</li> <!--use service array-->
    </ul>
    <hr>
    <button type="button" class="btn btn-success" appBtnTextBold appBtnHover appBtnCustomMarginWhenHover
        [customMargin]="'30px'">Clicker</button>
</div>

<hr>
<hr>

<div [ngSwitch]="developerAge"> <!--Structure directive for ngSwitch-->
    <div *ngSwitchCase="18">Developer : Teenager ( {{developerAge}} years old )</div>
    <div *ngSwitchCase="23">Developer : Youth ( {{developerAge}} years old )</div>
    <div *ngSwitchCase="40">Developer : Old ( {{developerAge}} years old )</div>
    <div *ngSwitchDefault>Developer : Unidentified age</div>
</div>

<div *ngIf="developerAge<10;"> <!--Structure directive for ngIf-->
    <div>Developer : Child ( {{developerAge}} years old )</div>
</div>

<hr>
<div class="text-start">
    <b class="text-start">Fruit List</b>
    <div *ngFor="let item of fruits" class="text-start"> <!--Structure directive for ngFor-->
        <li>{{item}}</li>
    </div>
</div>
<hr>
<hr>
<hr>
<div style="background-color: antiquewhite; padding: 20px;">
    <!--For Route Testing-->
    <my-ComHome></my-ComHome>
    <!---->
</div>
<hr>