<div class="container p-2 m-2">
    <ul class="text-start">
        <li>Name : {{devService.userInputData[0]}}</li> <!--use service array-->
        <li>Email : {{devService.userInputData[1]}}</li> <!--use service array-->
        <li>Subject : {{devService.userInputData[2]}}</li> <!--use service array-->
        <li>Message : {{devService.userInputData[3]}}</li> <!--use service array-->
    </ul>
    <hr>
    <button type="button" class="btn btn-success" appBtnTextBold appBtnHover appBtnCustomMarginWhenHover [customMargin]="'30px'">Clicker</button>
</div>