<div class="container-fluid text-center">
  <h1 class="text-primary p-3 mt-3 bg-danger-subtle weight" style="font-weight: bolder;"><span style="font-weight: 900; font-size: 60px; color: red;">H</span>ELLO <span style="font-weight: 900; font-size: 60px; color: red;">F</span>ROM &nbsp;&nbsp;<span style="font-weight: 900; font-size: 60px; color: black; font-family: Georgia, 'Times New Roman', Times, serif;">MNT</span>&nbsp;&nbsp; <span style="font-weight: 900; font-size: 60px; color: red;">A</span>NGULAR <span style="font-weight: 900; font-size: 60px; color: red;">A</span>PP</h1>
<div class="p-2 mt-3">
  <nav class="navbar navbar-expand-sm navbar-light bg-primary mb-2">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarID">
            <div class="navbar-nav">
                <a class="nav-link active text-white fs-5 text-decoration-underline" aria-current="page" routerLink="">Home</a>&nbsp;&nbsp;&nbsp;
                <a class="nav-link text-white fs-5" aria-current="page" routerLink="form">Form</a>&nbsp;&nbsp;&nbsp;
                <a class="nav-link text-white fs-5" aria-current="page" routerLink="contact">Contact</a>&nbsp;&nbsp;&nbsp;
                <a class="nav-link text-white fs-5" aria-current="page" routerLink="about">About</a>&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
  
</div>
</div>