<div>
    <h3 class="text-start fw-bold"><i>Home</i></h3>
  </div>
    <div class="row-cols-auto justify-content-center align-items-center g-2">
      <div class="col w-100">
        <div class="card-group">
          <div class="card align-items-center p-2 h-auto" style="width: 14rem;">
            <img class="card-img-top img-fluid w-50" src="https://www.yorkshireeveningpost.co.uk/webimg/b25lY21zOjVlNWU3MDAzLWMwZmQtNGIzNy1iMDYxLWJlZjNhMWRiNThkZToyNGUwYzhjMS04YmU0LTRkNGEtOTAyYi0yMjE0MTY5YTg0OWU=.jpg?crop=3:2,smart&width=640&quality=65&enable=upscale" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-start">What is Text Message Automation?</h4><br>
              <p class="card-text text-start justify-content-start">&nbsp;&nbsp;Text message automation, simply put, is the automatic sending or triggering of text messages to individuals or groups of people with little or no manual intervention. Marketing automation has become extremely popular with brands as it allows them to personally engage with their audience at scale. 
                <br>&nbsp;&nbsp;Our automated texting service offers several options for reaching your audience. From simple scheduling, to more complex recurring SMS and event-triggered messaging, we provide the ease and flexibility to put your engagements on autopilot.</p>
            </div>
          </div>
          <div class="card align-items-center p-2 h-auto" style="width: 14rem;">
            <img class="card-img-top img-fluid w-50" src="https://www.yorkshireeveningpost.co.uk/webimg/b25lY21zOjVlNWU3MDAzLWMwZmQtNGIzNy1iMDYxLWJlZjNhMWRiNThkZToyNGUwYzhjMS04YmU0LTRkNGEtOTAyYi0yMjE0MTY5YTg0OWU=.jpg?crop=3:2,smart&width=640&quality=65&enable=upscale" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-start">What is ISO in camera?</h4><br>
              <p class="card-text text-start justify-content-start">&nbsp;&nbsp;ISO Sensitivity is a standard set by the International Organization for Standardization (ISO) that represents sensitivity to light as a numerical value. A higher number indicates a higher sensitivity and a greater ability to capture light. The ISO Sensitivity is set and changed in the shooting settings menu.</p>
            </div>
          </div>
          <div class="card align-items-center p-2 h-auto" style="width: 14rem;">
            <img class="card-img-top img-fluid w-50" src="https://www.yorkshireeveningpost.co.uk/webimg/b25lY21zOjVlNWU3MDAzLWMwZmQtNGIzNy1iMDYxLWJlZjNhMWRiNThkZToyNGUwYzhjMS04YmU0LTRkNGEtOTAyYi0yMjE0MTY5YTg0OWU=.jpg?crop=3:2,smart&width=640&quality=65&enable=upscale" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-start">Photo shoot vs. photoshoot</h4><br>
              <p class="card-text text-start justify-content-start">&nbsp;&nbsp;The most common way to describe a session of photo taking is with two words—photo shoot. However, that doesn’t mean it’s necessarily wrong to write it as one word—photoshoot. In fact, photoshoot has recently been gaining popularity, but it has a long way to go before it catches up with photo shoot. For now, it’s probably better to stick with the two-word version.</p>
            </div>
          </div>
          <div class="card align-items-center p-2 h-auto" style="width: 14rem;">
            <img class="card-img-top img-fluid w-50" src="https://www.yorkshireeveningpost.co.uk/webimg/b25lY21zOjVlNWU3MDAzLWMwZmQtNGIzNy1iMDYxLWJlZjNhMWRiNThkZToyNGUwYzhjMS04YmU0LTRkNGEtOTAyYi0yMjE0MTY5YTg0OWU=.jpg?crop=3:2,smart&width=640&quality=65&enable=upscale" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-start">The Bears' Night Out</h4><br>
              <p class="card-text text-start justify-content-start">&nbsp;&nbsp;The most common way to describe a session of photo taking is with two words—photo shoot. However, that doesn’t mean it’s necessarily wrong to write it as one word—photoshoot. In fact, photoshoot has recently been gaining popularity, but it has a long way to go before it catches up with photo shoot. For now, it’s probably better to stick with the two-word version.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>